.comida{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
}
.title {
    color: #452621;
    width: 100%;
    font-size: 45px;
    font-family:'Georgia', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    margin: 0;
}